{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="background-container">
        <img src="{% static 'images/login.jpg' %}" class="background-image">
    </div>
    <div class="container">
        <h2>Login</h2>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <button type="submit">Login</button>
        </form>
        <form action="/admin/" method="get">
            <button type="submit" class="admin-button">If Admin, Click Here</button>
        </form>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
